# Node.js
node_modules/
npm-debug.log

# Environment variables
.env

# User Data & Sessions
cookies.json
videos.json
puppeteer_data/

# Media & Debugging
uploads/
downloads/
debug/
*.log
*.mp4
*.png
*.zip
