[
    {
        "url": "https://www.capcut.com/editor/YOUR-PROJECT-ID-1?scenario=custom&workspaceId=YOUR-WORKSPACE-ID&spaceId=YOUR-SPACE-ID",
        "status": "available",
        "tabId": 1
    },
    {
        "url": "https://www.capcut.com/editor/YOUR-PROJECT-ID-2?from_page=work_space&start_tab=video&enter_from=draft&__action_from=recent&workspaceId=YOUR-WORKSPACE-ID&spaceId=YOUR-SPACE-ID&draftIdc=1&__from_page=work_space",
        "status": "available",
        "tabId": 1
    }
]
